/* 1단계: 브라우저 기본 스타일 초기화 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /*border + padding + 컨텐츠 다 포함 계산 */
}

body {
  background-color: #cccfd3;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

.card {
  background-color: #ffffff;
  width: 320px;
  border-radius: 16px;
  padding: 30px 24px;
  text-align: center;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  /* x축, y축, 번짐정도, 색상 */
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.name {
  font-size: 20px;
  margin-bottom: 6px;
  color: #12293b;
}

.role {
  font-size: 14px;
  color: #646464;
  margin-top: 20px;
  margin-bottom: 20px;
}

.card-state {
  display: flex;
  justify-content: space-around;
  padding: 16px 0;
  border-top: 1px solid #e2e8f0;
  border-bottom: 1px solid #e2e8f0;
  margin-bottom: 20px;
}

.stat-number {
  display: block;
  font-size: 20px;
  font-weight: bold;
}

.stat-label {
  font-size: 12px;
  color: #94a3b8;
}

.card-skill {
  display: flex;
  justify-content: center;
  /* flex container에서 사용할수 있는 여백 값 */
  /* 첫 태그 시작 왼족 마지막 태그 오른쪽은 포함 안됨 */
  gap: 8px;
  margin-bottom: 15px;
}

.badge {
  background-color: #eef2ff;
  color: #6d7adb;
  padding: 4px 12px;
  border-radius: 20px;
  font-size: 13px;
}

.follow-btn {
  width: 100%;
  padding: 12px;
  background-color: #544ed4;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 15px;
  cursor: pointer;
}

.follow-btn:hover {
  background-color: #f493b4;
}
